<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>

    <script>
        function addimg() {
            var f = document.getElementById('upload');
            f.click();
        }

        function loadimg(file) {
            document.getElementById("camIcoin").style.visibility = "hidden";

            var MAXWIDTH = 100;
            var MAXHEIGHT = 100;

            if (file.files && file.files[0]) {
                //div.innerHTML = '<img id=imghead>'; 
                var img = document.getElementById('imghead');
                img.onload = function () {
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width = rect.width;
                    img.height = rect.height;
                    img.style.marginLeft = rect.left + 'px';
                    img.style.marginTop = rect.top + 'px';
                }
                var reader = new FileReader();
                reader.onload = function (evt) {
                    img.src = evt.target.result;
                }
                reader.readAsDataURL(file.files[0]);
                //uploadPhoto();

            } else {
                var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
                file.select();
                var src = document.selection.createRange().text;
                // div.innerHTML = '<img id=imghead>';
                var img = document.getElementById('imghead');
                img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                status = ('rect:' + rect.top + ',' + rect.left + ',' + rect.width + ',' + rect.height);

            }
        }

        function resetPage() {
            document.location.reload();
        }

        function clacImgZoomParam(maxWidth, maxHeight, width, height) {
            var param = {
                top: 0,
                left: 0,
                width: width,
                height: height
            };
            if (width > maxWidth || height > maxHeight) {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;

                if (rateWidth > rateHeight) {
                    param.width = maxWidth;
                    param.height = Math.round(height / rateWidth);
                } else {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }


        $("#upload").on('change', function () {
            var b = document.getElementById('uploadbtn');
            alert($("#upload")[0].files);
            b.innerHTML = '<img src=' + $("#upload")[0].files.name + '>';
        })

        function tryEmpty() {
            var name = document.getElementById("mName").value;
            if (name == "") {
                document.getElementById("nameIsEmpty").style.display = 'block';
            }
            else {
                document.getElementById("nameIsEmpty").style.display = 'none';
                if (document.getElementById("mPhone").value != "" && ($('#phoneIllegal').css('display')) == 'none') {
                    //可用按钮
                    document.getElementById("sure").disabled = false;
                }
            }
        }

        function tryPhone() {
            var phone = document.getElementById("mPhone").value;
            if (phone == "") {
                return;
            }
            $.ajax({
                type: 'get',
                url: 'http://172.16.34.153:60062/Query/isTel',
                data: {
                    tb: phone
                },
                success: function (res) {
                    if (res == true) {
                        document.getElementById("phoneIllegal").style.display = 'none';
                        if (document.getElementById("mName").value != "") {
                            //可用按钮
                            document.getElementById("sure").disabled = false;
                        }
                    }
                    else {
                        document.getElementById("phoneIllegal").style.display = 'block';
                    }
                }
            });
        }

        function check() {
            var display = $('#phoneIllegal').css('display');
            if (display == 'none' && $('#nameIsEmpty').css('display') == 'none' && document.getElementById("mPhone").value != "" && document.getElementById("mName").value != "") {
                postData(document.getElementById("mPhone").value);
            }
            else {

            }
        }

        function postImg(phone) {
            var formData = new FormData();
            formData.append("file", $("#upload")[0].files[0]);
            $.ajax({
                url: 'http://172.16.34.153:60062/Image/Post?account=' + phone, /*接口域名地址*/
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res == true) {
                        alert('已经录取该员工,并上传头像');
                        document.location.reload();
                    } else {
                        alert('已经录取该员工,但无头像');
                        document.location.reload();
                    }
                }
            });
        }

        function postData(phone) {
            //var mjob = document.getElementById("mJob").value;
            //if (mjob == "") {
            var mjob = "待定中";
            //}
            var msalary = document.getElementById("mSalary").value;
            if (msalary == "") {
                msalary = 0;
            }
            $.ajax({
                type: 'post',
                url: 'http://172.16.34.153:60062/Manager/PostMember',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    mId: phone,
                    name: document.getElementById("mName").value,
                    job: mjob,
                    salary: msalary
                }),
                success: function (res) {
                    if (res == true) {
                        postImg(phone);
                    }
                    else {
                        alert("信息上传失败");
                    }
                }
            });
        }

    </script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Package/Package">包裹一览</a></li>
                    <li><a href="#">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Member/AllMember">员工一览</a></li>
                            <li><a href="../Member/AddMember">员工录用</a></li>
                            <li><a href="../Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Mission">任务分配</a></li>
                            <li><a href="../Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Home/Index">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <h2 class='page-header'>添加员工</h2>

    <div class="col-sm-9">
        <div class="row" style="display:flex;align-items:center">

            <input type="file" class="parameter required hidden" name="file" id="upload" onchange="loadimg(this)">

            <img id="imghead" type="button" class="btn btn-default btn-group-lg " onclick="addimg()" aria-label="Left Align" style="width:9rem;height:11rem;border:0">

            <span class="glyphicon glyphicon glyphicon-camera" aria-hidden="true" id="camIcoin" style="font-size: 40px;margin: auto;margin-left: -6rem;" onclick="addimg()"></span>
            <h4 style="font-size:22px;">点击上传头像 <span class="label label-default">Tip</span></h4>

        </div>
        <br /><br />

        <div class="col-sm-offset-1">
            <div class="row col-sm-8 input-group" style="display:flex">
                <div class="col-sm-8" style="padding:0;">
                    <input type="text" name="account" class="form-control" placeholder="输入员工姓名" aria-describedby="basic-addon1" id="mName" onblur="tryEmpty()">
                </div>
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-remove " style="color:red;display:none" id="nameIsEmpty">名字不能为空</span>
                </div>
            </div>
            <br />
            <div class="row col-sm-8 input-group" style="display:flex">
                <div class="col-sm-8" style="padding:0;">
                    <input type="text" name="account" class="form-control" placeholder="输入员工手机" aria-describedby="basic-addon1" id="mPhone" onblur="tryPhone()">
                </div>
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-remove " style="color:red;display:none" id="phoneIllegal">错误的手机号</span>
                </div>
            </div>
            <br />
            <div class="row col-sm-8 input-group" style="display:flex">
                <div class="btn-group">
                    <button type="button" class="btn-Mission btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="MissionType1">
                        职位<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a>经理</a></li>
                        <li><a>派件员</a></li>
                        <li><a>揽件员</a></li>
                        <li><a>转件员</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <br />
            <div class="row col-sm-8 input-group" style="display:flex">
                <div class="col-sm-8" style="padding:0;">
                    <input type="text" name="account" class="form-control" placeholder="输入员工底薪" aria-describedby="basic-addon1" id="mSalary">
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <br />
            <div class="row col-sm-5" style="display:flex">
                <div>
                    <button type="button" class="btn btn-warning" onclick="resetPage()">重置信息</button>
                </div>

                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-primary" onclick="check()" disabled="disabled" id="sure">确认录用</button>
                </div>
            </div>
        </div>

        <iframe style="display:none" name="hiddenIFrame" id="hiddenIFrame" />
    </div>

</body>
</html>

