<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Views/Package/Package.js"></script>*@
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>

    <script>
        function changeShowCheckType(self) {
            var button = document.getElementById("showCheckType");
            button.innerHTML = self.innerText + ' <span class="caret"></span>';
        }

        function changeInputContent(self) {
            var input = document.getElementById("showCheckContent");
            input.placeholder = self.innerText + '查找';
        }

        //function sumUp() {
        //    var sum = 0;
        //    var pie = document.getElementById("SumPie");
        //    var pieArray = new Array()
        //    myArray = document.getElementsByClassName("Pie");
        //    for (let a of myArray) {
        //        sum += a.innerHTML;
        //    }
        //    pie.innerHTML = sum;

        //    sum = 0;
        //    var docs = document.getElementById("SumDocs");
        //    var pieArray = new Array()
        //    myArray = document.getElementsByClassName("Docs");
        //    for (let a of myArray) {
        //        sum += a.innerHTML;
        //    }
        //    docs.innerHTML = sum;

        //    sum = 0;
        //    var tra = document.getElementById("SumTra");
        //    var pieArray = new Array()
        //    myArray = document.getElementsByClassName("Tra");
        //    for (let a of myArray) {
        //        sum += a.innerHTML;
        //    }
        //    tra.innerHTML = sum;

        //    sum = 0;
        //    var wag = document.getElementById("SumWag");
        //    var pieArray = new Array()
        //    myArray = document.getElementsByClassName("Wag");
        //    for (let a of myArray) {
        //        sum += a.innerHTML;
        //    }
        //    wag.innerHTML = sum;
        //}
    </script>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Package/Package">包裹一览</a></li>
                    <li><a href="#">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Member/AllMember">员工一览</a></li>
                            <li><a href="../Member/AddMember">员工录用</a></li>
                            <li><a href="../Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Mission">任务分配</a></li>
                            <li><a href="../Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Home/Index">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <h2 class='page-header'>工资统计</h2>



    <div class="col-sm-6 col-sm-offset-4" style="display:flex">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
            按手机 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
        </ul>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="按手机查找" id="showCheckContent">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>

    <br />

    <div class="col-sm-9" style="left:0rem">
        <table class="table table-hover">
            <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                <tr>
                    <th>肖像</th>
                    <th>姓名</th>
                    <th>联系手机</th>
                    <th>状态</th>
                    <th>本月工资</th>
                </tr>

            </thead>
            <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;" onclick="">
                <tr>
                    <th scope="row"><img class="img-circle" src="..." alt="头像" /></th>
                    <td>王小明</td>
                    <td>158xxxx3391</td>
                    <td>派件中</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn-Mission btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="MissionType1">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li style="display:flex"><a>本月派件:</a><a class="Pie" style="margin-left:-3rem" id="MissionType1">100</a></li>
                                <li style="display:flex"><a>本月揽件:</a><a class="Docs" style="margin-left:-3rem" id="MissionType1">121</a></li>
                                <li style="display:flex"><a>本月转件:</a><a class="Tra" style="margin-left:-3rem" id="MissionType1">133</a></li>
                                <li role="separator" class="divider"></li>
                                <li style="display:flex"><a>本月总工资:</a><a class="Wag" style="margin-left:-3rem" id="MissionType1">8000</a></li>
                            </ul>
                        </div>
                    </td>
                    
                </tr>

                <tr>
                    <th scope="row"><img class="img-circle" src="..." alt="头像" /></th>
                    <td>李小花</td>
                    <td>158xxxx3391</td>
                    <td>空闲中</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn-Mission btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="MissionType2">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li style="display:flex"><a>本月派件:</a><a class="Pie" style="margin-left:-3rem" id="MissionType2">111</a></li>
                                <li style="display:flex"><a>本月揽件:</a><a class="Docs" style="margin-left:-3rem" id="MissionType2">121</a></li>
                                <li style="display:flex"><a>本月转件:</a><a class="Tra" style="margin-left:-3rem" id="MissionType2">133</a></li>
                                <li role="separator" class="divider"></li>
                                <li style="display:flex"><a>本月总工资:</a><a class="Wag" style="margin-left:-3rem" id="MissionType2">8500</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="display:flex;font-size:20px;margin-left:1rem">
        本月站点统计:&nbsp;派件总数:&nbsp;<div id="SumPie" style="color:chartreuse">111&nbsp;&nbsp;</div>揽件总数:&nbsp;<div id="SumDocs" style="color:cornflowerblue">111&nbsp;&nbsp;</div>转件总数:&nbsp;<div id="SumTra" style="color:orangered">111&nbsp;&nbsp;</div>工资总额:&nbsp;<div id="SumWag">11100</div>
    </div>

    
    <div class='container-fluid col-sm-offset-10 col-sm-2' style="top:-11rem">
        <div class="list-group">
            <h4 class="page-header">选择分类</h4>
            <button type="button" class="list-group-item">全部</button>
            <button type="button" class="list-group-item">空闲中</button>
            <button type="button" class="list-group-item">派件中</button>
            <button type="button" class="list-group-item">转件中</button>
            <button type="button" class="list-group-item">揽件中</button>
        </div>


    </div>
</body>
</html>

