<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/laydate/laydate.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">关于</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li><a href="/Package/Package">包裹一览</a></li>
                <li><a href="/Car/Car">站点配车</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Member/AllMember">员工一览</a></li>
                        <li><a href="/Member/AddMember">员工录用</a></li>
                        <li><a href="/Member/DeleteMember">员工开除</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Member/Fine">奖罚款</a></li>
                        <li><a href="/Member/moneyList">奖罚款条单</a></li>
                        <li><a href="/Member/Leave">请假条</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Member/Mission">任务分配</a></li>
                        <li><a href="/Member/Wages">工薪统计</a></li>
                    </ul>
                </li>
                <li><a href="/Info/ModifyCommision">提成更改</a></li>
                <li><a href="/Info/AllInfo">统计</a></li>
            </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

    <script>
        function getCookie(cookie_name) {
            var allcookies = document.cookie;
            var cookie_pos = allcookies.indexOf(cookie_name);   //索引的长度

            // 如果找到了索引，就代表cookie存在，
            // 反之，就说明不存在。
            if (cookie_pos != -1) {
                // 把cookie_pos放在值的开始，只要给值加1即可。
                cookie_pos += cookie_name.length + 1;      //这里容易出问题，所以请大家参考的时候自己好好研究一下
                var cookie_end = allcookies.indexOf(";", cookie_pos);

                if (cookie_end == -1) {
                    cookie_end = allcookies.length;
                }

                var value = unescape(allcookies.substring(cookie_pos, cookie_end));         //这里就可以得到你想要的cookie的值了。。。
            }
            return value;
        }

        function Money_PostCommision() {
            $.ajax({
                type: 'POST',
                url: "http://172.16.33.125/api/Money/PostCommission",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    pickUpValue: parseFloat($("#i1").val()),
                    transferValue: parseFloat($("#i2").val()),
                    deliveryValue: parseFloat($("#i3").val())
                }),
                headers: {
                    "Token": getCookie("cookie")
                },
                success: function (data, status) {
                    if (data == false) {
                        alert("修改失败");
                    } else {
                        alert("修改成功");
                    }
                }
            });
        }
        function ReSet() {
            $(" #i1").val("");
            $(" #i2").val("");
            $(" #i3").val("");
        }

    </script>
    <div class="row col-sm-10 col-sm-offset-2" style="margin-top:5rem;">

        <div class="input-group" style="margin-top:1rem;">
            <span class="input-group-addon" id="sizing-addon2">派件提成</span>
            <input type="text" class="form-control" placeholder="请输入提成金额" aria-describedby="sizing-addon2" id="i1">
        </div>
        <div class="input-group" style="margin-top:1rem;">
            <span class="input-group-addon" id="sizing-addon2">揽件提成</span>
            <input type="text" class="form-control" placeholder="请输入提成金额" aria-describedby="sizing-addon2" id="i2">
        </div>
        <div class="input-group" style="margin-top:1rem;">
            <span class="input-group-addon" id="sizing-addon2">转件提成</span>
            <input type="text" class="form-control" placeholder="请输入提成金额" aria-describedby="sizing-addon2" id="i3">
        </div>
        <div class="row" style="display:block;margin-top: 1rem;">
            <button class="btn btn-success" type="button" onclick="Money_PostCommision()" style="float:right;">OK!</button>
            <button class="btn btn-primary" type="button" onclick="ReSet()" style="float:right;margin-right:2rem;">重置</button>

            <div>
                <button class="btn btn-warning" type="button" style="float:right;margin-right:2rem;" data-toggle="modal" data-target="#history">历史</button>

                <div class="modal fade" id="history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">历史提成信息</h4>
                            </div>
                            <div class="modal-body">
                                @for (int i = ViewBag.number.commission.content.Count - 1; i >= 0; i--)
                                {
                                    <ul>
                                        <li>
                                            <div>于 @ViewBag.number.commission.content[i].time 改动</div>
                                            <div>揽件提成:￥@ViewBag.number.commission.content[i].pickUpValue/件</div>
                                            <div>派件提成:￥@ViewBag.number.commission.content[i].deliveryValue/件</div>
                                            <div>出件提成:￥@ViewBag.number.commission.content[i].transferValue/件</div>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    
</body>
</html>

