<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        function getCookie(cookie_name) {
            var allcookies = document.cookie;
            var cookie_pos = allcookies.indexOf(cookie_name);   //索引的长度

            // 如果找到了索引，就代表cookie存在，
            // 反之，就说明不存在。
            if (cookie_pos != -1) {
                // 把cookie_pos放在值的开始，只要给值加1即可。
                cookie_pos += cookie_name.length + 1;      //这里容易出问题，所以请大家参考的时候自己好好研究一下
                var cookie_end = allcookies.indexOf(";", cookie_pos);

                if (cookie_end == -1) {
                    cookie_end = allcookies.length;
                }

                var value = unescape(allcookies.substring(cookie_pos, cookie_end));         //这里就可以得到你想要的cookie的值了。。。
            }
            return value;
        }

        var countdown = 60
        function sendemail() {
            var obj = $("#yanzhengma");
            settime(obj);
        }
        function settime(obj) { //发送验证码倒计时
            if (countdown == 0) {
                obj.attr('disabled', false);
                obj.text("获取验证码");
                countdown = 60;
                return;
            } else {
                obj.attr('disabled', true);
                obj.text("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function () {
                settime(obj)
            } , 1000)
        }

        function getCODE() {
            phone_getCODE = document.getElementById("phoneWord").value;
            $.ajax({
                type: 'get',
                url: 'http://172.16.33.125/api/Tools/CheckPhone',
                contentType: "application/json;charset=UTF-8",
                data: {
                    phone: phone_getCODE
                },
                headers: {
                    "Token": getCookie("cookie")
                },
                success: function (res) {
                    CODE = res;
                }
            });
        }

        function checkCODE() {
            phone_CHECK = document.getElementById("phoneWord").value;
            if (phone_CHECK == phone_getCODE && CODE == document.getElementById("CODE").value) {
                if (document.getElementById("NewPassword").value == document.getElementById("NewPassword2").value) {
                    //通过了
                    document.getElementById("unSame").style.display = 'none';

                    var formData = new FormData();
                    formData.append("account", phone_CHECK);
                    formData.append("password", document.getElementById("NewPassword").value);

                    $.ajax({
                        url: 'http://172.16.33.125/api/Login/ModifyPassword', /*接口域名地址*/
                        contentType: "application/json;charset=UTF-8",
                        type: 'put',
                        data: JSON.stringify({
                            'account': phone_CHECK,
                            "password": document.getElementById("NewPassword").value
                        }),
                        headers: {
                            "Token": getCookie("cookie")
                        },
                        success: function (res) {
                            if (res == true) {
                                alert("修改成功");
                                window.location.href = "/Login/Login";
                            } else {
                                alert('失败');
                            }
                        }
                    })
                }
                else {
                    document.getElementById("unSame").style.display = 'block';
                }
            }
            else {
                alert("验证失败");

            }

        }
    </script>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">返回</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                    <li><a href="/Info/ModifyCommision">提成更改</a></li>
                    <li><a href="/Info/AllInfo">统计</a></li>
                </ul>
                @*<form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="row">
        <div class="col-md-5"><hr /></div>
        <div class="col-md-2" style="display: flex"><span class="tit" style="font-size: 38px; margin:auto">修改</span></div>
        <div class="col-md-5"><hr /></div>
    </div>


    <div class="row col-sm-12" style="display:flex">



        <div style="margin:auto;">
            <div>
                <div class="row">
                    <label for="exampleInputEmail1">手机号</label>
                    <div style="display:flex">
                        <input type="text" class="form-control" id="phoneWord" placeholder="确认手机号">
                        <button class="btn-danger" style="word-break:keep-all;width:12rem" onclick="sendemail();getCODE()" id="yanzhengma">获取验证码</button>
                    </div>
                </div>

                <div class="row">
                    <label for="exampleInputEmail1">输入验证码</label>
                    <input type="password" class="form-control" id="NewPassword" placeholder="验证码">
                </div>

                <div class="row">
                    <label for="exampleInputEmail1">输入新的超级密码</label>
                    <input type="password" class="form-control" id="NewPassword" placeholder="输入新的超级密码">
                </div>

                <div class="row">
                    <label for="exampleInputEmail1">确认新的超级密码</label>
                    <input type="password" class="form-control" id="NewPassword2" placeholder="再次输入新的超级密码">
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding:0">
                        <button type="button" class="btn btn-info" style="margin-top:1rem; width:100%" id="Login" onclick="checkCODE()">确认修改</button>
                    </div>
                </div>

            </div>

        </div>
    </div>


</body>
</html>

