<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        //$(document).ready(function () {
        //    $("#Login").click(function () {
        //        var UserPhone = document.getElementById("UserPhone").value;
        //        var Password = document.getElementById("Password").value;
        //        //$.ajax({
        //        //    type: 'get',
        //        //    url: 'http://172.16.34.153:60062/Login/LandOfManager',
        //        //    data: {
        //        //        account: UserPhone,
        //        //        password: Password
        //        //    },
        //        //    success: function (res) {
        //        //        if (res == true) {
        //        //            location.href = "../Login/AfterLogin";
        //        //        } else {
        //        //            alert('大失败');
        //        //            location.reload();
        //        //        }
                        
        //        //    }
        //        //});
        //    });
        //});


    </script>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index" style="color:crimson">返回</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">我要寄件</a></li>
                    <li><a href="#">员工报道</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">关于我们</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default" disabled="disabled">查询</button>
                </form>

                <ul class="nav navbar-nav navbar-right" hidden="hidden">
                    <li>

                        <button id="btn-Login" class="btn btn-primary btn-lg active" onclick="">登陆</button>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="row">
        <div class="col-md-5"><hr /></div>
        <div class="col-md-2" style="display: flex"><span class="tit" style="font-size: 38px; margin:auto">登录</span></div>
        <div class="col-md-5"><hr /></div>
    </div>


    <div class="row" style="display:flex;">

        @*<div class="col-xs-6" style="display:block;margin-left:auto;margin-right:auto;">
                <img src="..." alt="小程序的二维码" class="img-responsive center-block" style="margin:7rem;margin-left:16rem">
            </div>*@



        <div class="col-sm-6" style="padding:0;margin:auto;">
            <div style="margin:3rem;">
                @*<div class="row">
                        <label for="exampleInputEmail1">账号</label>
                        <input type="email" class="form-control" id="Account" placeholder="你的账号">
                    </div>*@
                <form action="AfterLogin" method="post">
                    <div class="row">
                            <div style="display:flex;flex-direction:column;margin:auto;width:fit-content;">
                                <label for="exampleInputEmail1">超级用户账号</label>
                                <input type="text" class="form-control" placeholder="输入管理员账号" name="UserPhone" id="UserPhone">
                            </div>
                            <div style="display:flex;flex-direction:column;margin:auto;width:fit-content;">
                                <label for="exampleInputEmail1">超级密码</label>
                                <input type="password" class="form-control" name="Password" placeholder="输入管理员密码">
                            </div>
                    </div>

                    <div class="row" style="display:flex;">
                        <div class="col-md-4" style="padding:0;margin:auto;">
                            <button type="submit" class="btn btn-info" style="margin-top:1rem; width:16rem;" id="Login" >登陆</button>
                        </div>
                    </div>
                </form>

                <div class="row" style="display:flex;">
                    <div class="col-md-7" style="margin:auto;margin-top:1rem;padding:5px;width:fit-content;">
                        <span class="glyphicon glyphicon-question-sign" style="color:cornflowerblue"></span>
                        <a style="color:cornflowerblue" href="/Login/forget">忘记密码</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</body>
</html>

